// Tables

@mixin table-row-variant($state, $background) {
  // Exact selectors below required to override `.table-striped` and prevent
  // inheritance to nested tables.
  .table-#{$state} {
    $color: color-contrast(opaque($body-bg, $background));
    $hover-color: mix($color, $background, percentage($table-hover-bg-factor));

    --table-bg: #{$background};
    --table-accent-bg: #{mix($color, $background, percentage($table-accent-bg-factor))};
    --table-hover-bg: #{$hover-color};
    --table-hover-color: #{color-contrast($hover-color)};

    color: $color;
    border-color: mix($color, $background, percentage($table-border-factor));
  }
}
